*.diff
*.patch
*.orig
*.rej

*~
.#*
*#

*.kdev4*

*.flt
*.gmo
*.info
*.la
*.lo
*.a
*.o
*.pyc
*.tmp

.deps
.libs

autom4te.cache
config.cache
config.h
config.intl
config.log
config.status
libtool
POTFILES
*-POTFILES

TAGS
TAGS.sub

.gdbinit
.gdb_history

# ignore core files, but not java/net/protocol/core/
core
!core/

lost+found

test

*.asm
*.rel
*.lst
*.tap
*.bin
*.ihx
*.noi
*.sym
*.$C
*.hS
*.map
*.lib
*.wmf
.kdev_include_paths
authlocal.mk
